@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

body
{
	color: #fff;
	background: linear-gradient(171deg, rgba(10,42,67,1) 0%, rgba(9,71,121,1) 35%, rgba(169,190,194,1) 100%);
	min-height: 1500px;
}

/* 

justify-content: Align the flex items at the center of the container:

*/

section
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}


section::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #0a2a43, transparent);
	z-index: 10000;
}

/* 

content on pakko olla kun on before after kuvio. tämä olisi esim se password kentän pakollinen punainen*
position absolute: The element is positioned relative to its first positioned (not static) ancestor element
linear gradient: blendaus/häivytys 
z-index: stack order, kuka on päällimmäisenä
mix-blend-mode
*/

section::after
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #0a2a43;
	z-index: 10000;
	mix-blend-mode: color;
}

section img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
/*  # = id       . = class*/
#text
{
	position: relative;
	color: #fff;
	font-size: 10em;
	z-index: 1000;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

#road
{
	z-index: 2;
}