{% extends "blog/base.html" %}
<!-- { form|crispy  pitää myös lisätä! -->
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<!--  POST: on kahdenlaisia HttpRequesteja
		get  request: navigating pages normally
		POST request: lähettää input datan jonnekkin -->
		<form method="POST">
			<!-- CSRF-token = cross site reforgery token. protect against attacks!  -->
			{% csrf_token %}
			<fieldset class="form-group">
				<!-- form group = (bootsrap) group related elements in form
				border-bottom mb-4 = bootstrap styles -->
				<legend class="border-bottom mb-4">Reset Password</legend>
				<!-- form printaa variablen kokonaan, labes, fields etc 
					.as_p = render in Paragraph style, eli nätimpi-->
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<!-- http://127.0.0.1:8000/password-reset-confirm/Mg/aih2p8-464c13597af5c0325f6baa255ceb4556/
				ton näköinen linkki tulee mailiin -->
				<button class="btn btn-outline-info" type="submit">Reset Password</button>
			</div>
		</form>
	</div>
{% endblock content %}