{% extends "blog/base.html" %}
<!-- { form|crispy  pitää myös lisätä! -->
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section mt-4">
		<!--  POST: on kahdenlaisia HttpRequesteja
		get  request: navigating pages normally
		POST request: lähettää input datan jonnekkin -->
		<form method="POST">
			<!-- CSRF-token = cross site reforgery token. protect against attacks!  -->
			{% csrf_token %}
			<fieldset class="form-group">
				<!-- form group = (bootsrap) group related elements in form
				border-bottom mb-4 = bootstrap styles -->
				<legend class="border-bottom mb-4">Join Today</legend>
				<!-- form printaa variablen kokonaan, labes, fields etc 
					.as_p = render in Paragraph style, eli nätimpi-->
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-secondary" type="submit">Sign Up</button>
			</div>
		</form>
		<!-- pt = padding top -->
		<div class="border-top pt-3">
			<small class="text-muted">
				Already have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
			</small>
		</div>
	</div>
{% endblock content %}