{% extends "blog/base.html" %}
{% block content %}
	<h1 class="mr-2">Secure Django portfolio</h1>
	<small class="text-muted">By Janne K</small>

	<p class="article-title">
		Things used in this project :<br>
		<br>
		<b>Git + GitHub</b><br>
		<b>Linode</b> Cloud ubuntu server, only accessible by keys (4096 bit)<br>
		<b>Apache</b><br>
		<b>venv</b><br>
		<b>Django</b><br>
		<b>Sqreen</b> adds more security against OWASP top 10 etc<br>
		<b>ufw</b> firewall<br>
		<b>Google</b> account for users password resetings via gmail<br>
		<br>
		<b>Python</b><br>
		<b>CSS & JavaScript</b> for bootstrap4<br>
		<b>decouple/.env</b> for settings.py sensitive data decoupling<br>
		<b>HTML</b><br>
		<b>SQLite3</b> for Django databases<br>
	</p>
{% endblock content %}
