{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <!-- cards ui css -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/card.ui.css' %}">

	<h1 class="aboutTitle">Things used in this project or just me bragging...</h1>
	<br>

	<main>
		<!-- tehty kahdella eri tablella jotta palikat pysyy paikallaan muuttaessaan kokoa eikä kaikki liiku kun yhden koko muuttuu -->
		<table style="width:100%; height: 365px;">
			<tr>
				<th>
					<div class="box">
						<div class="imgBx">
							<img src="{% static 'linode.png' %}">
						</div>
						<div class="content">
							<h2>Linode<br><span> for cloud server</span></h2>
						</div>
						<!-- tämän jäkeen tulee turha rivinvaihto -->
					</div>
				</th>
				<th>
					<div class="box bxApache">
						<div class="imgBx">
							<img class="cards" src="{% static 'apache.png' %}">
						</div>
						<div class="content">
							<h2>Apache<br><span> for webserver</span></h2>
						</div>
					</div>
				</th>
				<th>
					<div class="box bxCss">
						<div class="imgBx">
							<img src="{% static 'css.png' %}">
						</div>
						<div class="content">
							<h2>CSS<br><span> for styling and effects</span></h2>
						</div>
					</div>
				</th>
				<th>
					<div class="box bxJs">
						<div class="imgBx">
							<img src="{% static 'js.png' %}">
						</div>
						<div class="content">
							<h2>JavaScript<br><span> for styling and effects</span></h2>
						</div>
					</div>
				</th>
			</tr>
		</table>
		<table style="width:100%; height: 365px;">
			<tr>
				<th>
					<div class="box bxHtml">
						<div class="imgBx">
							<img src="{% static 'html.png' %}">
						</div>
						<div class="content">
							<h2>HTML<br><span> for &lt;youknow&gt; </span></h2>
						</div>
					</div>
				</th>
				<th>
					<div class="box bxPython">
						<div class="imgBx">
							<img src="{% static 'python.png' %}">
						</div>
						<div class="content">
							<h2>Python<br><span> for Django web framework, venv, pip ...</span></h2>
						</div>
					</div>
				</th>
				<th>
					<div class="box bxDjango">
						<div class="imgBx">
							<img src="{% static 'django.350.png' %}">
						</div>
						<div class="content">
							<h2>Django<br><span> for framework</span></h2>
						</div>
					</div>
				</th>
				<th>
					<div class="box bxEtc">
						<div class="imgBx">
							<img src="{% static 'etc.png' %}">
						</div>
						<div class="content">
							<h2>Also starring<br><span> in this project or me just showing off</span></h2>
						</div>
					</div>
				</th>
			</tr>
		</table>
	</main>
{% endblock content %}
