{% extends "blog/base.html" %}
{% block content %}
	<h1 class="mr-2">Secure Django portfolio</h1>
	<small class="text-muted">By Janne K</small>

	<p class="article-title">
		Things used in this project :<br>
		<br>
		<b>Git + GitHub</b> <a href="https://github.com/JapiGitHub/secure-django">Secure-Django GitHub</a><br>
		<b>domain</b> MacKorkee.com<br>
		<b>HTTPS & TLS/SSL-certificate</b> with letsencrypt.org and certbot (also cron for automatic renewal)<br>
		<b>Linode</b> cloud server only accessible by keys (4096 bit), not with passwords.<br>
		<b>VNC server</b> and remmina for desktop access. for sublime text etc<br>
		<b>Apache</b> web server<br>
		<b>venv</b> virtualenvironment<br>
		<b>Django</b> web framework<br>
		<b>Sqreen</b> adds more security against OWASP top 10 etc.<br>
		<b>ufw</b> firewall<br>
		<b>Google</b> account for users password resetings via gmail. rDNS jo valmiina.<br>
		<br>
		<b>Python</b><br>
		<b>CSS & JavaScript</b> for bootstrap4 and effects<br>
		<b>decouple/.env</b> for settings.py sensitive data decoupling.<br>
		<b>HTML</b><br>
		<b>SQLite3</b> for Django databases.<br>
		<b>Linux shell</b> a lot...<br>
		<br>
		<!--
		<b>Pentest tools poked at site:</b><br>
		<b>nmap</b> for scanning<br>
		<b>nc</b> netcat for scanning<br>
		<b>wireshark</b> for listening/sniffing network traffic<br>
		<b>gobuster</b> for dir enumerating or site listing<br>
		<b>linpeas</b> "privilege escalation awesome scripts" does huge list of tests and point out vulns for you to check!<br>
		<b>enum4linux</b> scanning is pointless because of key login<br>
	-->
	</p>
{% endblock content %}
