{% extends "blog/base.html" %}
{% block content %}
        <h1 class="mr-2">Secure Django portfolio</h1>
        <small class="text-muted">By Janne K</small>

        <p class="article-title" style="font-family: 'Lucida Console', monospace;  background-color: Black; color: Green;" >


            <br>commit f2b1a15708422a8a732ac67bebcd33f61190a175 (HEAD -> main, origin/main, origin/HEAD)
            Author: Jason Voorhees-Bourne <janne.korkee@gmail.com>
            Date:   Fri Feb 26 10:49:21 2021 +0000<br><br>

                major conffing. apache, ufw(well not in this git), .env working again, linode etc etc

            <br><br><br>commit 69502cd6d403b2668cd04adfda85b6f0629aa0c0
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Wed Feb 24 16:40:09 2021 +0200<br><br>

                about page content. minor fixes

            <br><br><br>commit d67695d4b701e8142a817d05d1f3dec71c9b20d9
            Author: JapiGitHub <spammerbanker@gmail.com>
            Date:   Wed Feb 24 11:05:28 2021 +0000<br><br>

                linode working. cloud server in germany

            <br><br><br>commit 8193337450782485e96e5aa87ef63c4fd97272e2
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Wed Feb 24 07:24:26 2021 +0200<br><br>

                added some buttons for managing posts, sqreen security initial settings and gitignore updated.

            <br><br><br>commit 9d6b47b88fc324985f7d2db50fe22346a443150a
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Tue Feb 23 19:21:41 2021 +0200<br><br>

                vain superuserit voi käyttää html koodia postauksissaan

            <br><br><br>commit 481a7cac8de51889b8cb655ec14c67490af44eaf
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Tue Feb 23 15:59:15 2021 +0200<br><br>

                snapshot juuri ennen deploying to linode ubuntu server

            <br><br><br>commit a36787151ec099d8f4c20cf28335b708b487f44b
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Tue Feb 23 13:10:35 2021 +0200<br><br>

                lisätty new post linkki, korjattu user models save.

            <br><br><br>commit c5e2eeeea452a66f67ac5f4139f9131302a37fd7
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Mon Feb 22 13:11:13 2021 +0200<br><br>

                password reset. server email logging to gmail and sending. python-decouple for sensitive data and gitignore .env file. secret_key changed from previous commits.

            <br><br><br>commit 1828c11097776aa1c7b0543738f98674a1301ca6
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Sat Feb 20 12:16:44 2021 +0200<br><br>

                pagination added. also you can click authors name and see all hes posts.

            <br><br><br>commit ae2d30d84e42a979f17b9a949a252fa76f807160
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Fri Feb 19 12:48:22 2021 +0200<br><br>

                ability to update, create and delete posts. tehtiin class based viewsseillä. myös käyttäjän tarkastus mixin tehtiin

            <br><br><br>commit 1dcee04d666c03c5906fcb459199429e9a1d5e9a
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Wed Feb 17 11:12:46 2021 +0200<br><br>

                userit voi päivittää profile tietonsa, postaajan kuva tulee postauksen viereen. avatarit resizetaan 300x300 Pillowilla

            <br><br><br>commit 2fbd232cbfc68f7666003fa238e6b58b6d80ae43
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Tue Feb 16 16:56:33 2021 +0200<br><br>

                user profiili ja default pic luodaan aina kun uusi useri luotu. priifli sivua myös päivitetty

            <br><br><br>commit 972f3b22c382dafd678526284035dbe4cbbf5611
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Mon Feb 15 15:39:58 2021 +0200<br><br>

                login, logout and profile pages

            <br><br><br>commit b3522f9473c19d7b8bfef94da48ae4d6945eab36
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Sat Feb 13 14:51:05 2021 +0200<br><br>

                email lisätty register formiin (inherit) ja crispy forms jotta register form näyttää paremmalta

            <br><br><br>commit d9a5efebbdbd0f40fe3788c19a767fa4fa89a489
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Fri Feb 12 12:03:58 2021 +0200<br><br>

                user rgistration works!

            <br><br><br>commit e73d4ea1d43d65d67ffbf4a6a2d65896210a9eff
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Thu Feb 11 14:17:29 2021 +0200<br><br>

                databases added/migrated. admin sivulle lisätty posts hallinnointia varten

            <br><br><br>commit 0423c02f53db37fb40e5ef3f7b9f553206db1ae0
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Thu Feb 11 11:07:52 2021 +0200<br><br>

                superuser created. DB migrated and created first time

            <br><br><br>commit 31df3bbd86976bda0cd15dd2b9279ea21f44ece2
            Author: Japi MacKorkee <janne.korkee@gmail.com>
            Date:   Thu Feb 11 10:06:48 2021 +0200<br><br>

                eka commit, secret key ei ole vielä gitignoressa edes
        </p>
{% endblock content %}
