{% extends "blog/base.html" %}
{% block content %}
<!-- extends = hae pohja/runko html sivuun base.html:stä ja liitä alla oleva
koodi   block content ... endblock   kohtaan  -->

<!--  posts = views.py -> home(request) -> context/posts 'KEY': in dictionary  
	endfor on pakko käyttää koska tälläisessä "python" koodissa ei ole indenttejä, ni 
	koneen pitää jostain tietää milloin mikäkin asia loppuu? 
	{{ x }} tuplasululla voidaan käyttää variablea posts(views.py)
	dummydata on nyt views.py tiedostossa, mutta veikkaan, että muuttaa muualle vielä-->
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}
