{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<!-- extends = hae pohja/runko html sivuun base.html:stä ja liitä alla oleva
koodi   block content ... endblock   kohtaan  -->
    <!-- parallax scrollerin css -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">


	<!--  posts = views.py -> home(request) -> context/posts 'KEY': in dictionary  
	endfor on pakko käyttää koska tälläisessä "python" koodissa ei ole indenttejä, ni 
	koneen pitää jostain tietää milloin mikäkin asia loppuu? 
	{{ x }} tuplasululla voidaan käyttää variablea posts(views.py)
	dummydata on nyt views.py tiedostossa
	FOR looppi käy kaikki sivulla olevat postaukset läpi-->
	{% for post in posts %}
		<article class="media content-section postaus">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2 postauthor" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#date 
				post.date_posted                default     Feb. 11, 2021, 10:31 a.m.
				post.date_posted|date:"j.n.Y"   filter      11.2.2021
		      -->
		      <small class="text-muted">{{ post.date_posted|date:"j.n.Y" }}</small>
		    </div>
		    <!-- {% url 'post-detail' post.id %}  
		    = vastaava kuin urls.py:    path('post/<int:pk>/', PostDetailView.as_view(), name='post-detail')
		    = esim /post/3/ -->
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		    
			{% if post.author.is_superuser %}
				<p class="article-content">{{ post.content|safe }}</p>
			{% else %}
				<p class="article-content">{{ post.content }}</p>
			{% endif %}
		    <!-- vanha mikä näyttää kaikille HTML:än
		    <p class="article-content">{{ post.content|safe }}</p>
			-->

		  </div>
		</article>
	{% endfor %}

	<!-- PAGINATION: napit: first, previous, 4,5,6,7,8, next, last -->
	{% if is_paginated %}
		<!-- page_obj tarkoittaa kyseistä sivua paginationissa.
		https://docs.djangoproject.com/en/3.1/topics/pagination/
		eli jos sivulla on edeltäjä niin linkki first sivulle on näkyvissä -->
		{% if page_obj.has_previous %}
			<a class="btn btn-secondary mb-4" href="?page=1">First</a>
			<a class="btn btn-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		<!-- käy läpi sivut ja printtaa lähimmät klikattaviksi -->
		{% for num in page_obj.paginator.page_range %}
			<!-- jos sivunro on se millä olemme, niin tee se eri tyylillä -->
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			<!-- jos sivu missä looppaamme on 3 +/- current page, niin printtaa se 
				ei voi miinustaa, niin sen takia add -3 -->
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		<!-- jos on seuraavia sivuja, niin näytä myös next ja last page linkit -->
		{% if page_obj.has_next %}
			<a class="btn btn-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}

{% endblock content %}
