{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <h1 class="mr-2 otsikkoetc">To-Do List : </h1>
        <small class="text-muted">By Janne K</small>

        <p class="article-title">
		<br>
		<b>gmail</b> password reseting working again!<br>
		<b>Sqreen</b> pitää saada taas toimimaan takaisin. muista vaihtaa myös passut<br>
		<br>
		<b>containerize</b><br>
		<b>CI/CD</b> jenkins tai joku<br>
		<b></b><br>
        </p>
{% endblock content %}
